
<!--<ng-container *ngIf="isLoading">-->
    <!--<div class="global-loader">-->
        <!--<div class="spinner">-->
            <!--<div class="cube1"></div>-->
            <!--<div class="cube2"></div>-->
        <!--</div>-->
    <!--</div>-->
<!--</ng-container>-->

<div [class.loader-hidden]="!isLoading">
    <div class="loader-overlay">
        <div>
            <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
